@font-face {
  font-family: mediu;
  src: url(./NeueHaasDisplay-Mediu.ttf);
}

@font-face {
  font-family: roman;
  src: url(./NeueHaasDisplay-Roman.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: mediu;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  /* background-color: #000; */
  position: relative;
  z-index: 10;
 
}
#page1 {
  width: 100%;
  min-height: 100vh;
  background-color: #efeae3;
  position: relative;
  padding: 0 2vw;
}

#page1 nav {
  width: 100%;
  padding: 2vw 0vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#page1 nav .nav-items {
  display: flex;
  gap: 2rem;
}

#page1 nav .nav-items h3 {
  border: 1px solid rgba(22, 21, 21, 0.555);
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: 500;
  font-size: 1.2rem;
  transition: all ease 0.4s;

  position: relative;
  overflow: hidden;
}

#page1 nav .nav-items h3 a {
  text-decoration: none;
  color: rgb(53, 52, 52);
  position: relative;
  z-index: 9;
}

#page1 nav .nav-items h3:hover a {
  color: #fff;
}

#page1 nav .nav-items h3::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  left: 0;
  bottom: -100%;
  border-radius: 50%;
  transition: all ease 0.4s;
}

#page1 nav .nav-items h3:hover::after {
  bottom: 0;
  border-radius: 0;
}

/* Hero Section */

#hero {
  height: 70vh;
  width: 100%;
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding-bottom: 2vw;
}

#hero #left h3 {
  width: 30vw;
  font-size: 1.9rem;
}

#hero #right h1 {
  width: 50vw;
  font-size: 10rem;
  text-align: right;
  text-transform: uppercase;
  font-family: roman;
  letter-spacing: -2px;
  line-height: 0.8;
}

#page1 video {
  margin-top: 3vw;
  width: 100%;
  border-radius: 30px;
  position: relative;
  z-index: 9;
}

#page1 .box-moving {
  position: absolute;
  width: 46vw;
  height: 36vw;
  right: 0;
  top: 78vh;
}

.box-moving #box-1 {
  height: 100%;
  width: 100%;
  background-color: #fe370d;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  filter: blur(20px);
  position: absolute;
}
.box-moving #box-2 {
  height: 30vw;
  width: 30vw;
  background: linear-gradient(#fe370d, #f53918);
  border-radius: 60%;
  filter: blur(10px);
  position: absolute;
  animation: anime2 5s alternate infinite;
}

.box-moving #box-3 {
  height: 30vw;
  width: 30vw;
  background: linear-gradient(#fe370d, #f14211);
  border-radius: 50%;
  filter: blur(25px);
  position: absolute;

  animation: anime1 5s alternate infinite;
}

@keyframes anime1 {
  from {
    transform: translate(50%, -4%);
  }
  to {
    transform: translate(0%, 10%);
  }
}
@keyframes anime2 {
  from {
    transform: translate(5%, -5%);
  }
  to {
    transform: translate(-20%, 30%);
  }
}

#page2 {
  min-height: 100vh;
  width: 100%;
  background-color: #efeae3;
  padding: 8vw 0;
  position: relative;
}

#page2 #moving-text {
  white-space: nowrap;
  overflow-x: auto;
}

/* To remove scrollbar */
#moving-text::-webkit-scrollbar {
  display: none;
}

#page2 #moving-text .con {
  white-space: nowrap;
  display: inline-block;

  animation: moveText 10s linear infinite;
}

#page2 #moving-text .con h1 {
  font-size: 9vw;
  text-transform: uppercase;
  display: inline-block;
}

#page2 #moving-text #circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #fe370d;
  display: inline-block;
  margin: 1vw 2vw;
}

@keyframes moveText {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

#page2-bottom {
  height: 70vh;
  width: 100%;
  padding: 1vw;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  margin-top: 7vw;
}

#page2-bottom h1 {
  font-size: 4vw;
  width: 55%;
  line-height: 3.9vw;
  z-index: 9;
}

#page2-bottom #box {
  margin-top: 20vw;
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#page2-bottom #box img {
  width: 100%;
  border-radius: 15px;
}

#page2-bottom #box p {
  font-size: 1rem;
  font-weight: 100;
  font-family: roman;
}

#page2 #hidden-circle {
  height: 34vw;
  width: 33vw;

  border-radius: 50%;
  background: linear-gradient(to top right, #fe320a, #ff671b);

  filter: blur(20px);
  position: absolute;
  top: 58%;
  left: 25%;
  animation: hidden_circle 6s alternate ease-in-out infinite;
}

#page2-down {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: absolute;
  bottom: -5%;
  padding: 0 2vw;
}

#page2-down .small-dot {
  height: 10px;
  width: 10px;
  background: #fe330a;
  border-radius: 50%;
}

#page2-down h3 {
  font-weight: 100;
  font-family: roman;
  text-transform: uppercase;
  font-size: 0.9rem;
}

@keyframes hidden_circle {
  from {
    transform: translate(10%, -10%) skew(1deg);
    filter: blur(20px);
  }
  to {
    transform: translate(-10%, 10%) skew(-12deg);
    filter: blur(30px);
  }
}

#page3 {
  min-height: 100vh;
  width: 100%;
  background-color: #efeae3;
  padding: 8vw 0;
}

#page3 #elem {
  position: relative;
  height: 100px;
  width: 100%;

  border-bottom: 1px solid rgb(135, 131, 131);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3vw;
  overflow: hidden;
}

#elem h2 {
  font-size: 3rem;
  position: relative;
  z-index: 9;
}

#elem .text-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.1rem;
  z-index: 9;
}

#elem .text-box h3 {
  font-weight: 100;
  font-family: roman;
}

#elem .text-box #visible {
  opacity: 0.5;
}

#elem .overlay {
  height: 100%;
  width: 100%;
  background-color: #ff9831;
  position: absolute;
  left: 0;
  top: -100%;
  transition: all ease 0.25s;
}

#elem:hover .overlay {
  top: 0%;
}

#fixed-img {
  height: 30vw;
  width: 25vw;
  pointer-events: none;
  border-radius: 10px;
  position: fixed;
  z-index: 99;
  left: 50%;
  top: 25%;
  display: none;

  background-size: cover;
  background-position: center;
}

#page3 #btn h1 {
  width: fit-content;
  border: 1px solid black;
  border-radius: 25px;
  margin-top: 4rem;
  margin-left: 4vw;
  padding: 0.8vw;
  font-size: 1.3rem;
  font-weight: 100;
  font-family: roman;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

#page3 #btn h1:hover {
  color: #fff;
}

#page3 #btn h1::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  left: 0;
  bottom: -100%;
  border-radius: 50%;
  transition: all ease 0.4s;
  z-index: -1;
}
#page3 #btn h1:hover::after {
  bottom: 0%;
  border-radius: 0;
}

#page4 {
  min-height: 100vh;
  width: 100%;
  background-color: #efeae3;
  padding: 3vw 2vw;

  display: flex;
}

#page4 #left {
  width: 45%;
  height: 100vh;
  background-color: black;
  color: #fff;
  border-radius: 15px;

  display: flex;
  flex-direction: column;

  padding: 6vw;
}

#page4 #left #left-top {
  border-left: 1px solid white;
  padding: 1vw;
}

#page4 #left #left-top h1 {
  font-size: 5vw;
}

#page4 #left p {
  font-size: 1rem;
  font-weight: 100;
  font-family: roman;
}

#page4 #right {
  width: 55%;
  height: 100vh;
  object-fit: cover;
  border-radius: 15px;
  overflow: hidden;
}

#page4 #right img {
  width: 100%;
  height: 100%;
}

#page5 {
  height: 70vh;
  width: 100%;
  background-color: #efeae3;
  padding: 10vw 0vw;
  position: relative;
}

.swiper {
  width: 100vw;
  height: 100%;

  overflow-x: hidden;
 
}



#page5 #page2-down {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0 2vw;
  position: absolute;
  top: -100%;
}

#page5 #page2-down .small-dot {
  height: 10px;
  width: 10px;
  background: #fe330a;
  border-radius: 50%;
}

#page5 #page2-down h3 {
  font-weight: 100;
  font-family: roman;
  text-transform: uppercase;
  font-size: 0.9rem;
}


.swiper-slide {
  width: 30%;

  border-left: 1px solid #7e7a7a;
  padding: 0 2vw;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
 
}
.swiper-slide img{
  width: 40%;
  object-fit: cover;
}

.swiper-slide p{
  font-size: 1rem;
  font-weight: 100;
  font-family: roman;
}

#page6 {
  height: 100vh;
  width: 100%;
}

#footer {
  position: fixed;
  height: 105vh;
  width: 100%;

  background: linear-gradient(to top, black, #ff2a00);
  color: #fff;
  z-index: 9;

  bottom: 0;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 1vw 2vw;
}

#footer h1 {
  font-size: 23vw;
}

#footer-div {
  height: 20vh;
  width: 100%;
  padding: 2vw 4vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer-div #left h1 {
  font-size: 2rem;
}

#footer-div #right {
  width: 22%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#footer-div #right h1 {
  font-size: 1.2rem;
  font-family: roman;
  font-weight: 100;
}

#footer-div #right p {
  margin-top: 1.1vw;
  padding-bottom: 1vw;
  font-size: 1rem;
  font-family: roman;
  font-weight: 100;
  opacity: 0.8;
  border-bottom: 1px solid rgba(231, 216, 231, 0.667);
}

#footer-bottom {
  border-top: 1px solid #aba7a7;
  height: 10vh;
  width: 100%;
  text-align: center;
  padding: 2vw;
  font-size: 1.8rem;
  font-family: roman;
}


/* #full-scr {
    height: 100vh;
    width: 100%;
    background-color: #00000070;
    position: fixed;
    z-index: 99;
    top: -100%;
    transition: all ease 0.5s;
}

#full-div1 {
    height: 50%;
    width: 100%;
    background-color: #EFEAE3;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

} */



#loader{
    height: 100%;
    width: 100%;
    background-color: #000;
    position: fixed;
    z-index: 999;
    top: 0;
    transition: all ease 0.7s;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loader h1{
    font-size: 4vw;
    color: transparent;
    background: linear-gradient(to right,orange,orangered);
    -webkit-background-clip: text;
    position: absolute;
    opacity: 0;
    animation-name: load;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: linear;
}
#loader h1:nth-child(2){
    animation-delay: 2s;
}
#loader h1:nth-child(3){
    animation-delay: 3s;
}

@keyframes load {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}




